.contactpage h6 {
  background-color: transparent;
  text-align: center;
  color: azure;
}

.contactpage h3 {
  text-align: center;
  margin: 0.7rem;
}

.contactspec h2 {
  font-size: large;
}

.contactspec h3 {
  font-size: medium;
}

.headlinks {
  display: contents;
  text-align: center;
}

.headlinks a {
  padding: 5px;
  background-color: rgb(9, 9, 73);
  margin: 20px;
  color: aliceblue;
  font-size: 25px;
  margin: 20px;
}

.contactcardA {
  color: rgb(255, 255, 255);
  text-align: center;
}

.contactcardB {
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.contactcardA {
  margin: 5px;
}

.ambulance {
  color: rgb(219, 4, 4);
  font-weight: bolder;
  text-align: center;
  margin-top: 1rem;
}

.contactsection a {
  color: black;
}

.contactdetails {
  background-color: #272942;
  /* width: 80vw; */
  margin: 0 auto;
  border-radius: 0.7rem;
  padding: 1rem;
}

.controlroom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1rem;
  border-radius: 0.8rem;
  width: 70%;
  margin: 1rem auto;
  background-color: #272942;
}

.ctrlroom1 {
  border-right: 1px solid rgb(177, 177, 177);
  width: 45%;
  margin: 1rem auto;
}

.ctrlroom2 {
  width: 40%;
  margin: 1rem auto;
}

.contactcardA div {
  color: rgb(253, 230, 127);
}

.heading {
  font-weight: bold;
}
