.vel {
  text-align: left;
  margin-left: 0.5 rem;
}
.net {
  text-align: center;
  padding: 10px;
  background-color: #a3c6da;
}
.tele {
  margin-left: 0.5 rem;
}

.tele img {
  align-content: center;
  height: 50px;
  width: 50px;
}
.headin {
  text-align: center;
  color: rgb(228, 228, 228);
  padding: 1rem;
}

.sect1 {
  background-color: rgb(9, 8, 41);
  padding-bottom: 1rem;
}

.sect1 ul {
  max-width: 90%;
  margin: 1rem auto;
  background-color: rgb(241, 241, 241);
  padding: 1rem;
  border-radius: 1rem;
  padding-left: 2rem;
}
