* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
html,
header {
  margin: 0;
  padding: 0;
  height: 100%;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

