.stats {
  min-height: 75vh;
}

.statQues {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  padding: auto;
  font-size: 1.1rem;
}
.statQues div {
  padding: 3%;
  background-color: rgb(202, 202, 245);
  min-height: 65%;
  border-radius: 10px;
}
.statQues button {
  width: 80%;
  margin-top: 4vh;
  background-color: rgb(2, 2, 58);
  color: white;
  border-radius: 20px;
}
.statQues button:hover {
  color: aquamarine;
}

.statsImg {
  min-height: 50vh;
  background-image: url("/stats.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .statQues {
    margin-top: 5vh;
    font-size: 1rem;
  }
}
