.carousel {
  border-radius: 40px;
  text-align: center;
}

.prevbutton {
  width: 4rem;
  border: none;
  position: absolute;
  background-color: transparent;
  left: 0;
  border-radius: 50px;
}

.nextbutton {
  width: 4rem;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 0;
  border-radius: 50px;
}
.cards {
  text-align: center;
  height: 100%;
  position: absolute;
  background-color: aqua;
  top: 0;
  left: 0;
  right: 0;
}

.indicators button {
  border: none;
  border-radius: 1rem;
  height: 0.8rem;
  width: 0.8rem;
  margin: 1rem 0.4rem;
  background-color: #243147;
}

.inner {
  width: 85vw;
  min-height: 40vh;
  background-color: #091221;
  border-radius: 1.2rem;
}

.noticetext {
  margin: 1rem auto;
  text-align: center;
  padding: 1rem 4rem;
  color: white;
  font-size: 0.95rem;
}

.noticetext h3 {
  margin-bottom: 1rem;
}

.item {
  height: 100%;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .noticetext {
    font-size: 0.8rem;
  }
}
